enantra.org, www.enantra.org
root /root/app
git {
    repo     github.com/enantra/enantra-2017
    branch   master
    interval 600
}
proxy / localhost:3000 {
  except /img /css /js /fonts
}
gzip
minify
expires {
    match .js$ 5i30s
    match .css$ 5i30s
    match .png$ 1m
    match .jpg$ 1m
    match .html$ 5i30s
}
log /var/log/access.log
tls tech@enantra.org
